.home-statement {
  margin-top: 3rem;
  
  &-title {
    font-weight: bold;
  }
  
  &-images {
    max-width: 80vw;
    display: flex;
    position: relative;
    
    & .main-image {
      background-color: #fff;
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
      border-radius: 0.7vw;
    }
    
    & .opt-image {
      // opacity: 0;
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 0;
      top: 10%;
      bottom: 10%;
      height: 80%;
      border: solid 1px;
      border-radius: 0.7vw;
    }
  }

  @media screen and (min-width: 570px) {
    &-text {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}
