.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  &-section {
    margin: auto;
    flex: 0 1 33%;

    &.center {
      text-align: center;
    }
  }

  &-brand {
    height: 2rem;
  }

  @media screen and (min-width: 570px) {
    &-brand {
      height: 2.5rem;
    }
  }
}
