.home-features {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  
  &-item {
    padding: 1rem;
    
    &-title {
      font-size: 2rem;
    }
    
    &-image {
      width: min-content;
      height: 100px;
    }
  }
  
  @media screen and (min-width: 570px) {
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    
    &-item {
      &-text {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }
}