
$deep-dark:     #1D2B40;
$signal-fire:   #f5544d;
$almost-white:  #e5e5e5;
$less-white:    #b2b2b2;
$lagoon:        #16ADCE;
$sponge:        #EABA44;
$algae:         #15B785;

// $blue:          $deep-dark;
// $red:           $signal-fire;
// $light-gray:    $almost-white;
// $gray:          $less-white;
// $cian:          $lagoon;
// $yellow:        $sponge;
// $green:         $algae;

$primary:       $deep-dark;
$secondary:     $signal-fire;
$success:       $algae;
$warning:       $sponge;
$info:          $lagoon;
$light:         $almost-white;
$dark:          $deep-dark;

$border-radius:                0.3vw;
$border-radius-lg:            $border-radius;
$border-radius-sm:            $border-radius;

$font-family-sans-serif: Roboto, sans-serif;

$input-border-width: 0;
$input-placeholder-color: $light;
